/* Global Styles */

* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: inherit;
	vertical-align: baseline;	
	text-decoration: none;
	color: inherit;
	scroll-behavior: smooth;
	font-family: 'Raleway', sans-serif;
}

html, body {
	height: 100%;
	font-size: 18px;
}

.mainContent {
	width: 100%;
	text-align: center;
	color: #333;
	height: 100%;
	transition: 1s;
}

.mediaLinks {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;	
	margin-top: 20px;
}

.mediaLinks img {
	width: 40px;
	height: 40px;
	margin-left: 10px;
	transition: 0.2s;
}

.mediaLinks img:hover {
	width: 50px;
	height: 50px;
}

.mainContentContainer {
	width: 80%;
	margin: auto;
	padding-bottom: 80px;
	text-align: center;
}

.containerHeader {
	font-size: 2rem;
	padding: 40px 0px;
	font-weight: 900;
	animation-duration: 1.5s;
	opacity: 0;
}

.projectItems {
	opacity: 0;
	margin: 0px 20px;
}
  
@keyframes slideFromLeft {
	from {
		margin-right: 100%;
		opacity: 0
	}

	to {
		margin-right: 0%;
		opacity: 1;
	}
}

@keyframes slideFromBottom {
	from {
		margin-top: 40%;
		opacity: 0;
	}

	to {
		margin-top: 0%;
		opacity: 1;
	}
}

@keyframes rotateHorizontal {
	from {
		transform: rotateY(180deg);	
		opacity: 0;
	}

	to {
		transform: rotateY(0deg);
		opacity: 1;
	}
}

@keyframes popIn {
	from {
		transform: scale(0)		
	}

	to {
		transform: scale(1)
	}
}

.containerHeaderUnderline {
	margin: auto;
	border-bottom: 6px solid #333;
	padding-top: 10px;
	width: 60px;
}

.contactContainerHeaderUnderline {
	margin: auto;
	border-bottom: 6px solid rgb(245, 245, 245);
	padding-top: 10px;
	width: 60px;
}

.flexContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/*Nav Bar*/
/*
.nav-menu {
	display: none;
	position: fixed;
	top: 15px;
	left: 15px;
	z-index: 2;
	transition: 1s;
	transform: translateX(0px);
}

.nav-menu:hover {
	cursor: pointer;
}

.navigation-bar {
    position: fixed;
	background-image: linear-gradient(to right,#1a1a1a, #303030);
	height: 100%;
	width: 15%;
	color: rgb(223, 223, 223);
	transition: 1s;
	z-index: 1;
}

.nav-head {
	height: 100px;
	text-align: right;
	line-height: 100px;
	padding: 20px 20px 20px 0px;
}

.nav-head h1{
	font-size: 30px;
	font-weight: 900;
}

.nav-element {
	display: flex;
	height: 40px;
	padding: 15px 20px 15px 10px;
	text-align: right;
	line-height: 40px;
}

.nav-element h3 {
	text-align: right;
	flex-grow: 1;
	font-size: 1.2rem;
	font-weight: 400;
}

.nav-element a {
	width: 100%;
}/*

/* Intro */

#intro {
	background-image: url('/images/intro_wallpaper.jpg');
	background-color: rgba(255, 255, 255, 0.51);
	background-blend-mode: color;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
}

.introText {
	flex-basis: 100%;
	font-weight:bold;
	font-size: 1.8rem;
}

.name {
	color: rgb(0, 132, 255);
}

#why {
	background-color: rgb(248, 248, 248);		
}

.whyContainer {
	opacity: 0;
	min-height: 500px;
}

li {
	
	text-align: left;
}

.timelineContainer {
	display: grid;
	grid-template-columns: 4.5fr 0.05fr 0.05fr 0.05fr 4.5fr;
	grid-template-rows: 7fr 1fr 4fr 1fr 5fr 1fr;
	width: 1400px;
	height: 600px;
	font-size: 0.8rem;
	margin-top: 20px;
}

.leftTimeline {
	/* background-color: blue; */
	margin: auto;
	grid-column-start: 1;
	text-align: right;
	margin-right: 20px;
}

.leftTimeline .timelineDate {
	display: block;
	float: right;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	background-color: rgba(67, 226, 218, 0.788);
	color: rgb(26, 26, 26);
	font-weight: bold;
	padding: 10px;
	width: 150px;
	text-align: center;
	
}

.leftTimeline .timelineContent {
	display: block;
	float: right;
}

.timelinePointer {
	display: block;
	height: 300px;
	width: 20px;
	background-color: black;
	float: right;
}

#firstRow {
	grid-row-start: 1;
}

.firstTimelinePointer {
	margin-left: 2px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: rgb(13, 122, 117);
	grid-column-start: 4;
	grid-row-start: 1;
	grid-row-end: span 1;
}

.firstArrow {
	position: relative;
	display: block;
	width: 10px;
	height: 10px;
	top: 45%;
	left: 5px;
	background-color: rgb(13, 122, 117);
	transform: rotate(45deg);
	z-index: 1;
}

#secondRow {
	grid-row-start: 2;
}

.secondTimelinePointer {
	margin-right: 2px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: rgb(13, 122, 117);
	grid-column-start: 2;
	grid-row-start: 2;
	grid-row-end: span 1;
}

.secondArrow {
	position: relative;
	display: block;
	width: 10px;
	height: 10px;
	top: 40%;
	right: 5px;
	background-color: rgb(13, 122, 117);
	transform: rotate(45deg);
	z-index: 1;
}


#thirdRow {
	grid-row-start: 2;
	grid-row-end: span 2
}

.thirdTimelinePointer {
	margin-left: 2px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: rgb(13, 122, 117);
	grid-column-start: 4;
	grid-row-start: 2;
	grid-row-end: span 2;
}

.thirdArrow {
	position: relative;
	display: block;
	width: 10px;
	height: 10px;
	top: 45%;
	left: 5px;
	background-color: rgb(13, 122, 117);
	transform: rotate(45deg);
	z-index: 1;
}

#fourthRow {
	grid-row-start: 4;
}

.fourthTimelinePointer {
	margin-left: 2px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: rgb(13, 122, 117);
	grid-column-start: 4;
	grid-row-start: 4;
	grid-row-end: span 1;
}

.fourthArrow {
	position: relative;
	display: block;
	width: 10px;
	height: 10px;
	top: 45%;
	left: 5px;
	background-color: rgb(13, 122, 117);
	transform: rotate(45deg);
	z-index: 1;
}

#fifthRow {
	grid-row-start: 4;
	grid-row-end: span 3;
}

.fifthTimelinePointer {
	margin-right: 2px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: rgb(13, 122, 117);
	grid-column-start: 2;
	grid-row-start: 4;
	grid-row-end: span 3;
}

.fifthArrow {
	position: relative;
	display: block;
	width: 10px;
	height: 10px;
	top: 45%;
	right: 5px;
	background-color: rgb(13, 122, 117);
	transform: rotate(45deg);
	z-index: 1;
}

#sixthRow {
	grid-row-start: 6;
}

.sixthTimelinePointer {
	margin-left: 2px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: rgb(13, 122, 117);
	grid-column-start: 4;
	grid-row-start: 6;
	grid-row-end: span 1;
}

.sixthArrow {
	position: relative;
	display: block;
	width: 10px;
	height: 10px;
	top: 45%;
	left: 5px;
	background-color: rgb(13, 122, 117);
	transform: rotate(45deg);
	z-index: 1;
}

.middleTimeline {
	background-image: linear-gradient(rgba(236, 54, 22, 0.5), rgba(212, 128, 18, 0.5));
	grid-column-start: 3;
	grid-row-start: span 6;
}

.rightTimeline {
	/* background-color: green; */
	margin: auto;
	grid-column-start: 5;
	text-align: left;
	margin-left: 20px;
}

.rightTimeline .timelineDate {
	display: block;
	float: left;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	background-color: rgba(67, 226, 218, 0.788);
	color: rgb(26, 26, 26);
	font-weight: bold;
	padding: 10px;
	width: 150px;
	text-align: center;
}

.rightTimeline .timelineContent {
	display: block;
	float: left;
}

.starImage {
	height: auto;
	width: 15px;
	filter: contrast(80%);
}

.alignLeft {
	text-align: left;
}

.indentFromLeft {
	margin-left: 40px;
	display: block;
}

/*Project*/

#project {
	background-color: rgb(248, 248, 248);	
	min-height: 75%;
}

.projectItems {
	text-align: center;
	display: flex;
	align-items: center;
	background-color: white;
	height: 225px;
	width: 300px;
	min-width: 300px;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
	border-radius: 5%;
	margin-bottom: 20px;
}

.projectItems img {
	max-height: 225px;
	max-width: 300px;
	border-radius: 10px;
	margin: auto;
}

.projectDescriptionContainer {
	opacity: 0;
	position: absolute;
	height: 225px;
	width: 300px;
	background-color: rgba(0, 0, 0, 0.8);	
	border-radius: 5%;
}

.projectDescriptionContainer:hover {
	opacity: 1;
}

.projectDescriptionContainer:hover p{
	animation-name: slideFromBottom;
	animation-duration: 0.7s;
}

.projectDescription {
	margin-top: 50px;
	font-weight: bold;
	color: white;
}

.projectLanguage {
	display: flex;
	flex-wrap: wrap;
	width: 250px;
	color: rgb(97, 179, 255);
	justify-content: center;
	margin: auto;
}

.projectButton {
	background-color: inherit;
	padding: 10px 30px;
	border: 1px solid rgb(97, 179, 255);
	transition: 0.5s;
}

.projectButton:hover {
	background-color: rgb(97, 179, 255);
	color: black;
}

/*About*/

#about {
	min-height: 65%;
}

.aboutRightItems {
	width: 600px;
}

.aboutLanguageContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.hexagonContainer {
	height: 41px;
	width: 100px;
	margin: 40px 20px;
	opacity: 0;
}

.hexagonLeftRight {
	position: absolute;
	background-color: rgb(22, 187, 179);
	height: 41px;
	width: 100px;
	border-radius: 3.5%;
}

.hexagonTopDown {
	position: absolute;
	background-color: rgb(22, 187, 179);
	height: 41px;
	width: 100px;
	transform: rotate(90deg);
	border-radius: 3.5%;
}

.hexagonTopRightLeft {
	position: absolute;
	background-color: rgb(22, 187, 179);
	height: 41px;
	width: 100px;
	transform: rotate(135deg);
	border-radius: 3.5%;
}

.hexagonTopLeftRight {
	position: absolute;
	background-color: rgb(22, 187, 179);
	height: 41px;
	width: 100px;
	transform: rotate(45deg);
	border-radius: 3.5%;
}

.aboutLanguages {
	line-height: 41px;
	position: relative;
	color: white;
	list-style-type: none;
	text-align: center;
	z-index: 1;
	font-weight: bold;
}

.aboutLeftItems {
	width: 500px;
	opacity: 0;
}

#overlay {
	display: none;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.733);
	height: 100%;
	width: 100%;
	z-index: 2;
	justify-content: center;
	align-items: center;
}

.aboutImageRow {
	width:405px;
	height: 135px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.aboutImageContainer {
	width: 135px;
	height: 135px;
}

.aboutImages {
	width: 125px;
	height: 125px;
	margin: 5px 0px 0px 0px;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
	border-radius: 3%;
	transition: 0.2s;
}

.aboutImages:hover {
	width: 135px;
	height: 135px;
	margin: 0px;
	cursor: pointer;
}

.aboutLeftItems p {
	margin-top: 10px;
}

/* Contact */

.contactItems {
	transform: scale(0)
}

.active-scroll-nav {
	background-color: rgb(194, 194, 194);
	color: #1a1a1a;
	transition: 0.5s;
}

.backToTop img {
	height: 40px;
	width: 35px;
	position: relative;
	bottom: 25px;
	background-color: rgba(255, 255, 255, 0.315);	
}

.footer {
	background-color: rgb(34, 34, 34);
	color: rgb(245, 245, 245);
	min-height: 35%;
}

.copyright span {
	display: inline-block;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 0.7rem;
}

.copyright img {
	margin: auto;
}

@media screen and (max-width: 1300px) {
	.navigation-bar {
		transform: translateX(-200px);
		min-width: 200px;
	}
	
	.mainContent {
		left: 0;
		width: 100%;
	}

	.nav-menu {
		display: block;
	}
}

